* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:visited {
  text-decoration: none;
}

:root {
  background-color: #23252c;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 10px;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
}

.card {
  width: 317px;
  margin-top: 50px;
}

/* ********************************************************** */

.hero--section {
  height: 317px;
}

.hero--banner {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}

main {
  padding: 3.5rem;
  background-color: #1a1b21;
}

main > header {
  text-align: center;
}

.header--title {
  font-size: 25px;
  line-height: 3rem;
  font-weight: 700;
  color: #ffffff;
}

.header--subtitle {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #f3bf99;
}

.header--link {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 150%;
  text-align: center;
  color: #f5f5f5;
  cursor: pointer;
}

/* ********************************************************** */

.cta--box {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

.cta--box > button {
  width: 11.5rem;
  height: 34px;
  border-radius: 6px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 330ms ease-in-out;
}


.cta--box > button:hover {
  transform: scale(1.2);
}

.cta--box > button > svg {
  width: 16px;
  margin-right: 1rem;
}

.cta--box > button:first-child {
  background-color: #fff;
  margin-right: 8px;
}

.cta--box > button:first-child a, .cta--box > button:first-child a:visited{
  color: #374151;
}

.cta--box > button:last-child {
  margin-left: 8px;
  background-color: #5093e2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  fill: #ffffff;
}

.cta--box > button:last-child a, .cta--box > button:last-child a:visited{
  color: #ffffff;
}

/* ********************************************************** */

.main--content {
  color: #dcdcdc;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
}

.main--content > h3 {
  margin: 15px 0 5px;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

/* ********************************************************** */
footer {
  min-height: 64px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #161619;
  border-radius: 0 0 10px 10px;
}

.social--icon {
  width: 25px;
  margin: 1.2rem;
  fill: #918e9b;
  cursor: pointer;
  transition: transform 330ms ease-in-out;
}

.social--icon:hover {
  transform: scale(1.2);
}

@media (prefers-color-scheme: light) {
  main {
    background-color: #f5f5f5;
  }

  .header--title {
    color: #2b283a;
  }

  .header--subtitle {
    color: #f47d27;
  }

  .header--link {
    color: #4a4e74;
  }

  .cta--box > button:first-child {
    border: 1px solid #d1d5db;
  }

  .cta--box > button:last-child {
    background-color: #297fe5;
  }

  .main--content {
    color: #4a4e74;
  }

  .main--content > h3 {
    color: #2b283a;
  }

  footer {
    background-color: #d5d4d8;
  }
}
